9p/
adfs/
affs/
afs/
autofs4/
befs/
bfs/
cachefiles/
ceph/
cifs/
coda/
configfs/
cramfs/
debugfs/
devpts/
dlm/
ecryptfs/
efivarfs/
efs/
exofs/
exportfs/
ext2/
fat/
freevxfs/
fscache/
fuse/
gfs2/
hfs/
hfsplus/
hostfs/
hpfs/
hugetlbfs/
isofs/
jffs2/
jfs/
kernfs/
lockd/
minix/
ncpfs/
nfs/
nfs_common/
nfsd/
nilfs2/
nls/
notify/
ntfs/
ocfs2/
omfs/
openpromfs/
orangefs/
overlayfs/
proc/
pstore/
qnx4/
qnx6/
quota/
ramfs/
reiserfs/
romfs/
squashfs/
sysfs/
sysv/
tracefs/
ubifs/
udf/
ufs/
xfs/

